.gameBoardContainer{
    border: solid 4px red;
    background-color: aqua;
    height: 1000px;
    width: 100%;
}

.startGameButton{
    text-align: center; 
    margin: 25%;
}

.startGameButton :hover{
     cursor: pointer;
     background-color: lightgreen;
    text-align: center; 
}

.gameRules{
    border: solid black 3px;
    background-color: antiquewhite;
    font-size: 20px;
    text-align: center;
    /* text-indent: 2%; */
}