.gameBoardContainer{
    border: solid 1px red;
    background-color: aqua;
    height: 1200px;
    width: 100%;
}

.startGameButton{
    text-align: center; 
    margin: 25%;
    border-radius: 5px;
    /* display: none; */
}

.startGameButton :hover{
     cursor: pointer;
     background-color: lightgreen;
    text-align: center; 
}

.gameRules{
    border: solid black 3px;
    background-color: antiquewhite;
    font-size: 20px;
    text-align: center;
    /* text-indent: 2%; */
}

.gameScreen{
    border: solid 10px navy;
    border-radius: 6%;
    height: 800px;
    width: 800px;
    margin-top: -55%;
    margin-left: 30%;
    background-color: lightblue;
}

.resultScreen{
    /* border: 5px solid brown; */
    height: 180px;
    width: 800px;
    border-radius: 6%;
    text-align: center;
    /* font-size: 28px;
    font-style: oblique; */
}

.timer{
    border: 5px solid magenta;
    height: 60px;
    width: 600px;
    border-radius: 20%;
    margin-left: 11%;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 28px;
    font-style: oblique;
    background-color: white;
}

.row1{
    border: 5px solid magenta;
    height: 100px;
    width: 797px;
    border-radius: 0.5%;
}

.quizScreen{
    /* border: solid 10px yellow; */
    border-radius: 6%;
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: center;
    text-align: center;  
}

.player1{
    border: 3px solid black;
    height: 508px;
    width: 200px;
    font-size: 20px;
}
.questionBox{
    border: 5px solid black;
    height: 508px;
    width: 500px;
    font-size: 30px;
  padding-inline: 15%;
  background-color: white;
}

.ansOptions{
    background-color: lightcyan;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin: auto;
    margin-top: 10%;
    padding: 8px 16px; 
    cursor: pointer;
}

.player2{
    border: 3px solid black;
    height: 508px;
    width: 200px;
    font-size: 20px;
}

.keepPlaying{
        /* border: solid 10px yellow; */
        border-radius: 6%;
        height: 600px;
        width: 800px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 25px;
        color: green;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /* display: none; */
}

.buttons{
    /* border: 2px solid red; */
    border-radius: 20%;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -11%;
    background-color:lightcoral;
    cursor: pointer;
    /* color: orange; */
}

